* {
  padding: 0;
  margin: 0;
}

#navLinks {
  overflow: hidden;
}

#navLinks ul {
  width: 100%;
}

#navLinks ul li {
  width: 100%;
  text-align: center;
}

.hide {
  height: 0;
  transition: height 1s;
}

.show {
  height: 100px;
  transition: height 1s;
}

@media (min-width: 768px) {
  #navButton {
    display: none;
  }
}
